{{> head }}
{{> navBar }}

    <div class="col-8">
        <h1></h1>
    </div>

    <div class="col-4">
        <h1>Cristian Ruben Millan Ruiz</h1>
        <img src="assets/img/Supernova-Earth.jpg" class="img-thumbnail">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quisquam sapiente atque sunt laborum cupiditate molestiae repudiandae, illo beatae iste dolorem, eligendi odio ea nulla earum quas aut minima dicta!
        </p>
    </div>

{{> footer }}